#content>#gong{
    float:left;
    width:400px;
    height:200px;
    background-color: cadetblue;
}
#content>#gall{
    float:left;
    width:400px;
    height:200px;
    background-color: blue;
}
#content>#banner{
    float:left;
    width:400px;
    height:200px;
    background-color: rgb(38, 28, 92);
}
input[type=radio]:checked+label+#target {
    height : 150px;
}
input[type=radio]{
    display:none;
}
#gong>ul>li>div {
    background-color: palegreen;
    overflow: hidden;
    width: 400px;
    height: 0px;
    transition-duration:0.2s;
}
#gong>ul>li{
    display:  block;
    width:33.33%; 
    float:left;   
    background :#f9f9f9;
    line-height:40px;
}
